

p, li, h1, h2, h3, h4 {
font-family: 'Oxygen', sans-serif;
}
#serval {
	border: 10px solid yellow; 
}
#mainquote {
	border: 3px solid black;
}
p, li {
	font-size: 12px
	color: blue;
	width: 500px;
}
.quote {
	border: 3px solid green;
}

.quotesdiv {
	border: 10px solid blue;
	width: 50%;
}


